{{ define "main" }}
  {{ range .Site.Sections }}
    <h2>{{ .Title }}</h2>
    {{ range .Pages }}
      <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
    {{ end }}
  {{ end }}
  <div class="additional-text">
    <h2>Coming soon(ish)</h2>
    <p>Customisable endless music to help you work.  Generated live, just for you.</p>
  
    <h2>Available now</h2>
    <p>A (soon to be growing) list of work-optimised music playlists.
    Apple Music now, Spotify and perhaps others to follow.
    Click one of the links above to launch a playlist:</p>
  </div>
{{ end }}

